* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Familjen Grotesk", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  margin-right: 30px;
  cursor: pointer;
}

.nav ul li:hover {
  color: red;
}
.header {
  margin-top: 15px;
  height: 55px;
  background: grey;
  /* position: absolute; */
  /* position: fixed; */
}
.prodcuctsDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prodcuctsDetails > div {
  margin-right: 10px;
  border-radius: 10px;
  /* background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); */
}
.whoimg > img {
  border-radius: 15px;
}
.who,
.products,
.delivery {
  min-height: 100vh;
}
.productOne {
  background: rgba(128, 128, 128, 0.393);
  box-shadow: 5px 10px #888888;
}

.productOne:hover {
}
